In [1]:
import psycopg2 as psql
import pandas as pd
from datetime import datetime, date
from defs import *
import sqlite3 as sql
import random

In [6]:
level = np.zeros(40)
CP = np.zeros(40)
for i in range(len(level)):
    level[i] = random.randint(90, 170)
    CP[i] = random.randint(2000000, 10000000)
CP

array([8790821., 5388928., 3133573., 2091497., 6535833., 5797367.,
       3998318., 7260443., 2595103., 3800751., 5687585., 3229296.,
       2356158., 4865863., 9441225., 3644900., 4427525., 6157715.,
       3831009., 2335883., 5216906., 3065521., 4213258., 2508843.,
       4191963., 4788011., 5281379., 8685585., 5590383., 9250733.,
       3750022., 9919483., 2471060., 5919800., 4984126., 7171594.,
       7618873., 7638027., 6960908., 5510018.])

In [2]:
conn = psql.connect("dbname = Ulala user = admin password = Hui-ling3")
c = conn.cursor()

In [4]:
c.execute('''INSERT INTO Servers (Server_ID, Server_Name) VALUES (%s, %s)''', (733452415726125108, "PlanetaryPower"))

In [18]:
conn.rollback()

In [3]:
c.execute('''ALTER TABLE Servers ALTER COLUMN Server_ID TYPE BIGINT''')
conn.commit

In [24]:
'''Members.Columns'''

'Members.Columns'

In [30]:
abv = 'ss'

In [33]:
c.execute('''SELECT clan_name FROM clans WHERE clan_abbreviation ~* (%s) ''', (abv, ))
c.fetchall()[0][0]

'SolarSurfers'